@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");

:root {
  --roxo-codi: #a243d2;
  --gray-900: #111827;
  --gray-950: #030712;
  --white: #ffffff;
}

.nav-container {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center; /* Centraliza os itens da navbar */
  padding: 15px 30px;
  background-color: var(--gray-900);
  border-bottom: 1px solid var(--gray-950);
  height: 3rem;
  position: relative; /* Para manter alinhamentos corretos */
}

/* Ajustar logo e botão para não empurrar os links */
.left-container {
  position: absolute;
  left: 30px;
}

.right-container,
.right-container-logged {
  position: absolute;
  right: 30px;
}

/* Centralizando os links */
.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

/* Logo */
.left-container img {
  width: 8rem;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.left-container img:hover {
  transform: scale(1.05);
}

/* Navegação - Links */
.nav-links .nav-item {
  text-decoration: none;
  color: var(--white); /* Cor branca nos links */
  font-weight: 600;
  font-size: 18px;
  transition: color 0.3s ease-in-out;
}

.nav-links .nav-item:hover {
  color: var(--roxo-codi); /* Hover roxo */
}

/* Botões de Login */
.right-container {
  border: 1px solid white;
  color: white;
  padding: 10px;
  border-radius: 10px;
  transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
  cursor: pointer;
  color: black;
  font-family: "Montserrat", sans-serif;
}

.right-container:hover {
  transform: scale(1.1);
  background-color: var(--roxo-codi);
  border: none;
}

/* Container do usuário logado */
.right-container-logged {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.right-container-logged img {
  border-radius: 50%;
  width: 1.75em;
  height: 1.75em;
}

/* Ícone de logout */
#logout:hover {
  cursor: pointer;
  transform: scale(1.15);
  color: red;
}

/* Responsividade */
@media (max-width: 768px) {
  .nav-container {
    font-size: 16px;
    padding: 15px;
  }

  .left-container img {
    width: 6rem;
  }

  .nav-links {
    gap: 20px; /* Reduz espaçamento em telas menores */
  }

  .nav-item {
    font-size: 16px;
  }

  .right-container,
  .right-container-logged {
    padding: 8px;
    font-size: 14px;
  }

  .right-container-logged img {
    width: 1.5em;
    height: 1.5em;
  }
}
