.listening-speaking-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  padding: 20px;
  background-color: #111827;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Texto explicativo */
.listening-speaking-container .body-text {
  font-family: "Montserrat", sans-serif;
  color: #9ca3af !important; /* Força a cor cinza */
  font-weight: 400;
  font-size: 22px !important; /* Força o tamanho */
  line-height: 1.6;
  max-width: 1000px;
  text-align: center;
  margin-bottom: 30px;
}

/* Botão de início */
.start-button {
  font-size: 18px;
  font-weight: 600;
  color: white;
  padding: 15px;
  width: 300px;
  border: none;
  outline: none;
  border-radius: 10px;
  background: linear-gradient(97.57deg, #29e0a9, #5f75f2, #9956f6, #e254ff);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.start-button:hover {
  transform: scale(1.05);
}

/* Tela final */
.final-screen {
  text-align: center;
  padding: 20px;
}

.final-message {
  font-size: 22px;
  font-weight: bold;
  color: #28a745;
  margin-top: 10px;
}

/* Área de prática */
.practice-content {
  background-color: var(--gray-900);
  padding: 20px;
  width: 100%;
  max-width: 600px;
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
