@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");

:root {
  --roxo-codi: #a243d2;
  --gray-900: #111827;
  --gray-500: #6b7280;
  --faded: linear-gradient(
    97.57deg,
    #29e0a9 -12.7%,
    #5f75f2 32.64%,
    #9956f6 78.49%,
    #e254ff 109.78%
  );
}

.header-container {
  background-color: var(--gray-900);
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5vh 20px;
  gap: 3vh;
  text-align: center;
}

.header-container .logo img {
  width: 10rem;
  transition: transform 0.3s ease-in-out;
}

.header-container .logo img:hover {
  transform: scale(1.05);
}

.header-text {
  font-size: 42px;
  display: flex;
  flex-direction: column;
  gap: 1.5vh;
  color: white;
  max-width: 800px;
}

.header-text h1 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 50px;
}

.header-text span {
  background-image: var(--faded);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-text p {
  color: var(--gray-500);
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  max-width: 650px;
  margin: 0 auto;
}

/* Responsividade */
@media (max-width: 768px) {
  .header-text {
    font-size: 18px;
  }

  .header-text h1 {
    font-size: 24px;
  }

  .header-text p {
    font-size: 16px;
  }

  .btn-start {
    font-size: 16px;
    width: 200px;
  }
}
