@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --roxo-codi: #A243D2;
    --fonte-marrom: #211B15;
    --fonte-preta: #1C1C1C;
    --gray-900: #111827;
    --gray-950: #030712;
    --faded: linear-gradient(97.57deg, #29e0a9 -12.7%, #5f75f2 32.64%, #9956f6 78.49%, #e254ff 109.78%);
}

.progress-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
}

.progress-bar {
    position: relative;
    width: 100%;
    max-width: 400px;
    height: 20px;
    background: #e0e0e0;
    border-radius: 20px;
    overflow: hidden;
    font-family: "Montserrat", sans-serif;
}

.progress-fill {
    height: 100%;
    background: var(--faded);
    border-radius: 20px 0 0 20px;
    transition: width 0.3 ease;
}

.progress-text {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    color: var(--gray-400);
    font-weight: 600;
    line-height: 40px; 
    letter-spacing: 1px;
    font-size: 20px;
}

/* Ajustes de responsividade */
@media (max-width: 768px) {
    .progress-container {
        margin-top: 1rem;
        gap: 10px;
    }

    .progress-bar {
        max-width: 300px;
    }

    .progress-text {
        font-size: 16px;
    }
}
