.container-pratica {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.container-pratica .texto-pratica {
    color: var(--gray-400);
    text-align: center;
    font-size: 22px;
}

.texto-pratica span {
    background-image: var(--faded);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container-pratica .texto-pratica img {
    width: 200px;
}

.container-pratica .texto-pratica p {
    margin: 1rem;
    letter-spacing: 1px;
    font-size: 18px;
}

.container-pratica .input-pratica textarea {
    font-size: 14px;
    width: 30rem;
    height: 10rem;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px;
    letter-spacing: 1px;
}

.container-pratica .footer-pratica {
    margin: 1rem;
    padding: 1rem;
}

.container-pratica .footer-pratica .btn-continue, .btn-skip, .container-pratica .start-pratica .btn-start{
    padding: 15px;
    width: 200px;
    border: none;
    outline: none;
    font-size: 16px;
    letter-spacing: 1px;
    border-radius: 10px;
}

/* .btn-show-answer{
    margin-left: 1vw;
} */

.answer-display {
    color: var(--gray-400);
    font-size: 20px;
}

.btn-restart {
    margin: 5vh auto;
    display: block;
}

.btn-skip { 
    margin-left: 1vw;
}

.btn-continue:hover {
    transform: scale(1.05);
}

.success-message {
    color: green;
    font-size: 30px;

}

.error-message {
    color: red;
    font-size: 30px;
}
