@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --roxo-codi: #A243D2;
    --fonte-marrom: #211B15;
    --fonte-preta: #1C1C1C;
    --gray-400: #9ca3af;
    --gray-900: #111827;
    --gray-950: #030712;
    --faded: linear-gradient(97.57deg, #29e0a9 -12.7%, #5f75f2 32.64%, #9956f6 78.49%, #e254ff 109.78%);
}

.footer-container {
    font-family: "Montserrat", sans-serif;
    color: var(--gray-400);
    border-top: 1px solid var(--gray-950);
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.text:hover {
   color: var(--roxo-codi);
}
