.container-final {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  text-align: center;
  font-weight: bold;
  background: #1e1e2e;
  color: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 500px;
  margin: 50px auto;
}

.header-final {
  font-size: 2.5rem;
  background-image: linear-gradient(90deg, #ff8c00, #ff0080);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sub-final {
  font-size: 1.2rem;
  color: #d1d1d1;
}

.motivational-message {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffcc00;
}

.acertos-final {
  font-size: 1.8rem;
  color: #ffffff;
}

.acertos-final span {
  font-weight: bold;
  color: #ffcc00;
}

/* Barra de Progresso */
.progress-bar-container {
  width: 100%;
  max-width: 400px;
  height: 20px;
  background: #333;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #555;
}

/* Botões */
.button-group {
  display: flex;
  gap: 15px;
}

.btn-voltar,
.btn-ranking {
  padding: 12px 20px;
  font-size: 1rem;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  transition: transform 0.2s ease-in-out;
}

.btn-inicio {
  margin-top: 2rem;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  padding: 10px;
  width: 200px;
  border: 1px solid white;
  border-radius: 10px;
  background-image: var(--faded);
}

.btn-inicio:hover {
  transform: scale(1.1);
  border: none;
  transition: ease-in-out;
  background-image: var(--faded);
  cursor: pointer;
  border: 1px solid white;
}

.btn-voltar {
  background: #ff0080;
  color: white;
}

.btn-ranking {
  background: #ffcc00;
  color: black;
}

.btn-voltar:hover,
.btn-ranking:hover {
  transform: scale(1.1);
}

/* Responsividade */
@media (max-width: 768px) {
  .header-final {
    font-size: 2rem;
  }

  .sub-final {
    font-size: 1rem;
  }

  .acertos-final {
    font-size: 1.5rem;
  }

  .btn-voltar,
  .btn-ranking {
    padding: 10px 15px;
    font-size: 0.9rem;
  }
}
